body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:#22343d;;
background-color: white;
}
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto; 
}

.section {
    padding: 50px 0;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.section-title {
    margin-bottom: 10px;
    font-size: 32px;
    text-align: center;
}

.section-subtitle {
    max-width: 542px;
    margin: 0 auto 40px;
    font-weight: 500;
    line-height: 1.63;
    text-align: center; 
}
/*Header*/
.navigation{
    display: flex;
justify-content: space-between;
}

.logo-text{
    padding-left: 16px;
}
.logo{
display: flex;
font-weight: 700;
font-size: 30px;
line-height: 0.93;
color: #173a56;
justify-content: flex-start;
padding: 22px 0;
align-items: center;
}
.navigation-list{
    display: flex;
    padding: 26px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    gap: 30px;
}

.navigation-btn{
    display: flex;
    padding: 19px 0;
    gap: 21px;
}
.navigation-btn-in {
border: 1px solid #bcd0e5;
border-radius: 4px;
width: 105px;
text-align: center;
padding: 9px 24px;
font-weight: 600;
font-size: 16px;
color: #173a56;
background-color: #fff;
}

.navigation-btn-up{
background: #02897a;
border-radius: 4px;
width: 113px;
text-align: center;
padding: 9px 24px;
font-weight: 600;
font-size: 16px;
 color: #fff;
}
.navigation-list-item:active,
.navigation-list-item:hover{
    font-weight: 600;
}
/*Section hero*/

.hero-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
}
.container-hero{
    display: flex;
    justify-content: space-between;
    gap: 48px;
    }
    .hero-text{
        flex-direction: column;
        align-self: center;
    }
    .hero-title{
margin-bottom: 18px;
    }
    .hero-subtitle{
       font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        color: #22343d; 
        margin-bottom: 45px;
    }
    .hero-btn{
        border-radius: 4px;
        width: 178px;
        background-color: #02897a;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        padding: 14px 41px;
        margin-right: 31px;
    }
    .hero-link{
    font-weight: 600;
    font-size: 16px;
    color: #02897a;
    }
    .hero-link:hover, .hero-link:focus{
        text-decoration: underline;

    }
/*Section benefits*/
.benefits-title{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
    width: 539px;
}
.benefits-list{
    display: flex;
    gap: 30px; 
   margin-bottom: 50px;
}
.benefits-list-item{
   width: calc((100% - 90px) / 4);  
}
.benefits-item-title{
    margin-bottom: 13px;
}
.container-benefits{
  justify-items: center; 
 
}
.benefit-btn{
border-radius: 4px;
width: 175px;
background: #02897a;
font-weight: 700;
font-size: 16px;
color: #fff;
padding: 14px 32px;
}
/*Section Management*/

.container-management{
    display: flex;
    gap: 84px;
    align-items: center;
}
.management-content{
    flex-direction: column;   
}
.management-subtitle {
    font-weight: 600;
        font-size: 16px;
        color: #22343d;
        margin-bottom: 8px;
}
.management-title {
    font-weight: 700;
        font-size: 32px;
        color: #22343d;
        margin-bottom: 25px;
}
.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 25px;
}
.management-list {
    margin-top: 5px;
}
.management-list-item-title { 
    font-weight: 600;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 12px;
}
/* Section Experts*/

.container-experts {
justify-items: center;
}

.experts-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
}

.expert-subtitle {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        color: #22343d;
        width: 542px;
        margin-bottom: 40px;
}

.expert-presentation {
    justify-items: center;
}

.experts-list {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
column-gap: 92px;
}

.experts-list-item {
width: calc((100% - 92px) / 2);
display: flex;
gap: 20px;
margin-bottom: 25px;
justify-content: center;
align-items: center;
}
.expert-comment{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
}

.expert-photo{
    border-radius: 100%;
    width: 98px;
    height: 98px;
}
.contact-experts {
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        }
            
.contact-experts-btn{
   border-radius: 4px;
    width: 216px;
    height: 53px;
    background: #02897a;  
    margin-top: 25px;
    padding: 14px 30px;
}
/*Section strategy*/

.strategy-title {
    font-weight: 700;
        font-size: 34px;
        color: #22343d;
        margin-bottom: 10px;
}

.strategy-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
    width: 465px;
    margin-bottom: 40px;
}

.strategy-card-list {
display: flex;
gap: 30px;
}

.strategy-list-item {
    width: calc((100% - 60px) / 3);
     border: 1px solid #dedede;
    border-radius: 8px;
    
}

.strategy-image {
    border-radius: 8px 8px 0 0;
        width: 350px;
        height: 185px;
}

.strategy-image-subscribe {
    font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: #22343d;
        margin-top: 24px;
        margin-bottom: 12px;
        margin-left: 24px;
}
.autor{
    font-weight:700;
}
.strategy-image-title {
    font-weight: 700;
        font-size: 24px;
        line-height: 167%;
        color: #22343d;
        margin: 0 27px 40px 27px;
        
}
/*Section Price*/
.section-price {
    padding-top: 85px;
}

.title-price {
    font-size: 34px;
}

.subtitle-price {
    line-height: 1.5;
}

.price-list {
    display: flex;
    gap: 72px;
}

.price-card {
    padding: 32px;
    border-radius: 8px;
    width: calc((100% - 144px) / 3);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    text-align: center;
    transition: 250ms linear;
}

.price-card-title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.66;
}

.price-card-text {
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5;
}

.price-card-price {
    margin-bottom: 16px;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    text-align: left;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.32;
    letter-spacing: 0em;
    color: #02897a;
}

.card-price-part {
    display: flex;
    gap: 4px;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.card-price-part span {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #02897a;
}

.price-card-list {
    margin-bottom: 30px;
}

.price-card-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.01em;
}

.price-card-item:not(:last-child) {
    margin-bottom: 16px;
}

.price-card-btn {
    border-radius: 8px;
    min-width: 139px;
    height: 44px;
    background-color: #02897a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.price-card:hover,
.price-card:focus-within {
    color: #fff;
    background-color: #02897a;
}

.price-card:hover .price-card-price,
.price-card:hover .card-price-part span,
.price-card:focus-within .price-card-price,
.price-card:focus-within .card-price-part span {
    color: #fff;
}

.price-card:hover .card-price-part,
.price-card:focus-within .card-price-part {
    color: #e0e0e0;
}

.price-card:hover .price-card-btn,
.price-card-btn:focus {
    color: #02897a;
    background-color: #fff; 
}
/*End Section Price*/
/*Section rewiev*/
.container-rewiev {
    justify-items: center;
}

.rewiev-title {
    font-weight: 700;
        font-size: 32px;
        line-height: 1.78;
        letter-spacing: 0.01em;
        color: #22343d;
        margin-bottom: 10px;
}

.rewiev-subtitle {
    font-weight: 500;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #22343d;
        width: 537px;
        margin-bottom: 40px;
}

.rewiev-list {
    display: flex;
    gap: 64px;
}

.rewiev-list-item {
    width: calc((100% - 128px) / 3);
    padding: 28px 26px;
    border: 1px solid #dedede;
    border-radius: 5px;
}

.rewiev-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0.01em;
        color: #737373;
}

.rewiever-container {
    display: flex;
    margin-top: 16px;
    gap: 14px;
}
.rewiever{
    flex-direction: column;
}

.rewiever-photo { 
    border-radius: 100%;
    stroke-width: 1px;
    stroke: #bdbdbd;}

.rewiever-name {
    font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: #02897a;
}

.rewiever-position {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.01em;
        color: #252b42;
}
/*Join section*/
.container-join {
    display: flex;
    border-radius: 32px;
        width: 968px;
        background: #02897a;
        justify-content: center;
        padding: 0 46px;
        justify-self: center;
}
.title-and-btn{
    flex-direction: column;
    gap: 46px;
    margin-bottom: 56px;
}
.join-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
    width: 510px;
    margin-top: 49px;
    margin-bottom: 46px;
}
.get-this-btn {
        border-radius: 8px;
        width: 150px;
        background: #fff;
        font-weight: 600;
            font-size: 20px;
            color: #02897a;
            padding: 10px 34px;
 }
 /* Footer*/
 .container-footer{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 10px;
 }
 .logo-footer{
    padding: 0;
 }
 .social-icon {
    display: flex;
    margin-top: 18px;
    gap: 16px;
 }
 .nav-footer-title { 
    font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: #22343d;
        margin-bottom: 8px;
 }

 .footer-nav-list {
    font-weight: 400;
        font-size: 16px;
        line-height: 2.19;
        color: #22343d;
 }

 .title-form{
    width: 280px;
    margin-bottom: 30px;
 }
 .form{
    border: 1px solid #bcd0e5;
        border-radius: 4px;
        width: 325px;
        height: 48px;
        margin-bottom: 25px;
 }
 .footer-btn{
    border-radius: 4px;
        width: 131px;
        height: 39px;
        background: #02897a;
        font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #fff;
            padding: 8px 15px;
 }
 .copyrhight {
    justify-self: center;
    margin-bottom: 40px;
 }
/*Customers*/
/* Section our clients*/
.clients-title{
    font-weight: 700;
        font-size: 40px;
        color: #22343d;
        margin-bottom: 50px;
        justify-self: center;
}
.clients-logo-list{
    display: flex;
    gap: 64px;
    justify-content: center;
}
/* Section choose*/
.section-choose{
    background: #f5f5f5;
}
.choose-title{
    font-weight: 700;
        font-size: 34px;
        text-align: center;
        color: #22343d;
        margin-bottom: 50px;
}
.choose-benefits-list {
    display: flex;
    gap: 30px;
}

.choose-benefits-list-items {
    width: calc((100% - 60px) / 3);
    border: 1px solid #dedede;
        border-radius: 10px;
        padding: 32px 37px 34px 37px;
}

.choose-list-title {
    font-weight: 700;
        font-size: 24px;
        line-height: 1.37;
        letter-spacing: 0em;
        text-align: center;
        color: #22343d;
        margin-bottom: 16px;
        margin-top: 32px;
}

.choose-list-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.69;
        letter-spacing: 0.01em;
        text-align: center;
        color: #22343d;
}
/* How it work*/
.how-it-work-title {
    font-weight: 700;
        font-size: 34px;
        text-align: center;
        color: #22343d;
        margin-bottom: 72px;
}

.step-list {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.step-list-item {
    display: flex;
    gap: 80px;
    width: 1026px;
}
.container-step{
    align-content: center;
}
.step-num {
    font-weight: 500;
        font-size: 20px;
        color: #22343d;
        margin-bottom: 16px;
}

.step-name {
    font-weight: 600;
        font-size: 24px;
        color: #22343d;
        margin-bottom: 16px;
}

.step-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.75;
        color: #22343d;
}

.container-btn-get-in{
    border-radius: 8px;
        width: 224px;
        background: #02897a;
        font-weight: 600;
        font-size: 18px;
        color: #fff;
        padding: 11px 15px;
        font-family: "Montserrat",
            sans-serif;
            justify-self: center;
            margin-top: 69px;
}
/*Section offers*/

.section-offers {
    background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.offers-title {
    font-weight: 700;
        font-size: 32px;
        text-align: center;
        color: #22343d;
        width: 537px;
        justify-self: center;
        margin-bottom: 93px;
}

.offers-list {
    display: flex;
    justify-content: space-evenly;
}

.offers-list-item {
    justify-items: center;
}

.offers-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: #000;
margin-bottom: 16px;
}

.offers-ben-list-item {
    font-weight: 400;
        font-size: 18px;
        line-height: 1.78;
        text-align: center;
        color: #22343d;
}

.offers-ben-list-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    color: #000;
    margin-top: 12px;
}

/*Pricing*/
/*Section pricing*/
.pricing-section-name {
    font-weight: 600;
        font-size: 24px;
        color: #22343d;
        text-align: center;
        margin-bottom: 32px;
}

.pricing-title {
    font-weight: 700;
        font-size: 40px;
        text-align: center;
        color: #22343d;
        margin-bottom: 16px;
}

.pricing-subtitle {
    font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #22343d;
        margin-bottom: 49px;
}
/* section enterpricing*/
.section-enterprice{
    background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}

.section-enterprice-name {
    font-weight: 600;
        font-size: 24px;
        color: #22343d;
        text-align: center;
        margin-bottom: 16px;
}

.enterprice-title {
text-align: center;
        font-weight: 700;
        font-size: 34px;
        color: #22343d;
        margin-bottom: 8px;
}

.enterprice-subtitle {
    font-weight: 400;
        font-size: 18px;
        color: #22343d;
    text-align: center;
    margin-bottom: 32px;
}
.btn-enterpricing{
    margin: 0;
}
/* Effects*/

.section-effects-title {
    font-weight: 700;
        font-size: 34px;
        color: #22343d;
        text-align: center;
        margin-bottom: 56px;
}
.container-effects{
    display: flex;
    gap: 60px;
}
.effects-list {}

.effects-list-item:not(:last-child) {
margin-bottom: 32px;
}

.effects-list-item-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
    color: #22343d;}

.effects-list-item-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.75;
        color: #22343d;
}